
.covid{
    display: flex;
    background-color : linen ;
    width: 100%;
    padding:8%;
    justify-content:space-around;
    max-width: fit-content;
}
.covid>div{
    width:40%;
}
.covid>div>img{
    width:100%;
}
*{
    font-family: 'Poppins', sans-serif;
}
p,h2,h4,h5,h6,h3{
    color:slategrey
}
.sec{ 
    display:flex;
    width:90%;
    background-color:linen;
    margin: auto;
    margin-top:5%;
    border-radius: 30px;
    /* justify-content:space-around; */

}
.first{
   padding:5%;
}
.im{
    padding-left:16%;
}
.im>img{
    width:400px;
}
.first>button{
    width: 35%;
    height:40px;
    font-size :25px;
    background-color : lightcoral ;
    color:whitesmoke;
    border:none;
    border-radius:10px;
    cursor:pointer;

}
.ess{
    width:80%;
    margin:auto;
    margin-top:5%;
}
.flex{
    display: grid;
    width:100%;
    grid-template-columns: repeat(3,1fr);
    gap:20px;

}
.flex>div{
    cursor: pointer;
}

.flex>div>img{
    width:100%
}
.manag{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    width: 85%;
    margin: auto;
}
.manag>div{
    padding:15px;
}
.one{ 
    padding:-0px;
    margin-bottom:-90px;
    padding-top:10px;
    font-size: 20px;
    background-color:brown;
    border-radius: 0px 0px 10px 10px;
}
.two{ 
    background-color:darkslategray
}
.last{ 
    background-color:darkolivegreen
}